*.bat linguist-language=CMD Batch linguist-vendored=false
*.cloud linguist-language=Cloud linguist-vendored=false
*.component linguist-language=Component linguist-vendored=false
*.css linguist-language=CSS linguist-vendored=false
*.csv linguist-language=Csv linguist-vendored=false
*.delete linguist-language=Delete linguist-vendored=false
*.der linguist-language=Der linguist-vendored=false
*.enc linguist-language=Enc linguist-vendored=false
*.ftl linguist-language=Ftl linguist-vendored=false
*.gif linguist-language=Gif linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.htm linguist-language=Htm linguist-vendored=false
*.html linguist-language=HTML linguist-vendored=false
*.ico linguist-language=Ico linguist-vendored=false
*.importer linguist-language=Importer linguist-vendored=false
*.in linguist-language=In linguist-vendored=false
*.jacl linguist-language=Jacl linguist-vendored=false
*.jar linguist-language=Jar linguist-vendored=false
*.java linguist-language=Java linguist-vendored=false
*.jazzignore linguist-language=Jazzignore linguist-vendored=false
*.jj linguist-language=Jj linguist-vendored=false
*.jks linguist-language=Jks linguist-vendored=false
*.jpg linguist-language=Jpg linguist-vendored=false
*.js linguist-language=JavaScript linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.jsp linguist-language=Jsp linguist-vendored=false
*.lcauto linguist-language=Lcauto linguist-vendored=false
*.ldif linguist-language=Ldif linguist-vendored=false
*.license linguist-language=License linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.mf linguist-language=Mf linguist-vendored=false
*.multitenant linguist-language=Multitenant linguist-vendored=false
*.odp linguist-language=Odp linguist-vendored=false
*.odt linguist-language=Odt linguist-vendored=false
*.png linguist-language=Png linguist-vendored=false
*.policy linguist-language=Policy linguist-vendored=false
*.pr linguist-language=Pr linguist-vendored=false
*.project linguist-language=Project linguist-vendored=false
*.properties linguist-language=Properties linguist-vendored=false
*.properties-cloud linguist-language=Properties-cloud linguist-vendored=false
*.properties-lcauto linguist-language=Properties-lcauto linguist-vendored=false
*.py linguist-language=Python linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.sql linguist-language=Sql linguist-vendored=false
*.sth linguist-language=Sth linguist-vendored=false
*.swf linguist-language=Swf linguist-vendored=false
*.swidtag linguist-language=Swidtag linguist-vendored=false
*.tag linguist-language=Tag linguist-vendored=false
*.testing linguist-language=Testing linguist-vendored=false
*.tld linguist-language=Tld linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.wav linguist-language=Wav linguist-vendored=false
*.xmi linguist-language=Xmi linguist-vendored=false
*.xml linguist-language=Xml linguist-vendored=false
*.xml-frag linguist-language=Xml-frag linguist-vendored=false
*.xsd linguist-language=Xsd linguist-vendored=false
*.xsl linguist-language=Xsl linguist-vendored=false
*.zip linguist-language=Zip linguist-vendored=false
